<header>
    <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between; padding-left: 10px; padding-right: 30px; padding-top: 5px; padding-bottom: 5px;">
        <div>
            <h1 style="color:white;">CHAT.COM</h1>
        </div>
        <div style="cursor: pointer;">
            <a href="/users/logout">
                <img src="/assets/exit.svg" alt="" style="width: 30px; height: 30px;" />
            </a>
        </div>
    </div>
</header>